.navbar {
  display: flex;
  justify-content: space-evenly;
  padding: 7px 20px;
  gap: 100px;
  background-color: white;
  color: #242424;
}

.logo {
  cursor: pointer;
  font-weight: 600;
}

.nav-links {
  display: flex;
  text-decoration: none;
  list-style-type: none;
  justify-content: space-evenly;

  li {
    padding: 0px 100px;

    a {
      text-decoration: none;
      color: #242424;
      transition: all 0.3s ease 0s;
    }

    a:hover {
      color: rgb(0, 132, 255);
    }
  }
}

.contact-div {
  button {
    padding: 1px 12px;
    border-radius: 3px;
    background: #242424;
    border-radius: 999px;
    box-shadow: #242424 0 5px 20px -10px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
  }
}

@media (max-width: 1024px) {
  .nav-links li {
    padding: 0px 50px; /* smaller gap */
  }
}

/* Mobile breakpoint */
@media (max-width: 768px) {
  .nav-links li {
    padding: 0px 20px; /* even smaller gap */
  }
}

/* Extra small devices */
@media (max-width: 480px) {
  .nav-links li {
    padding: 0px 10px; /* minimal gap */
  }
}

/* HERO */

.hero-container {
  padding: 0px 200px;
  height: 90vh;
  display: flex;
  align-items: center;
}

.hero-content {
  padding: auto;

  h1 {
    font-size: 65px;
  }
  p {
    color: gray;
    font-size: 18px;
  }
}

/* ABOUT ME  */

.aboutme-container {
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
  padding: 0px 5vw;
}

/* SKILLS  */

.skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* ⬅ important */
  gap: 50px;
  align-items: center;
  justify-content: center;
  padding: 10vh 20vw;
  text-align: center;
}

.cards-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 1.7rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  height: 100%; /* makes each card match the tallest in its row */
  width: 100%;
}

.description {
  line-height: 20px;
  max-height: calc(20px * 2); /* exactly 2 lines tall */
  overflow: hidden;
  transition: max-height 0.4s ease;
  p {
    color: gray;
  }
}

.cards-container:hover .description {
  max-height: 200px; /* expands smoothly */
}

img {
  height: 50px;
}
.bar {
  background: #eee;
  height: 6px;
  border-radius: 3px;
  overflow: hidden;
}
.fill {
  background: linear-gradient(90deg, #5a5a5a, black);
  height: 100%;
}
